.footer {
    background: $light-blue;
    position:fixed;
    left:0px;
    bottom:0px;
    width:100%;
}

.footer__title {
    font-size: $l-size;
    margin: 0;
    color: $off-white;
}

// @media (min-width: $desktop-breakpoint) {
//     .footer {
//         margin-bottom: $xl-size;
//     }
// }