.header {
    background: $light-blue
}

.header__title {
    font-size: $l-size;
    margin: 0;
    color: $off-white;
    border: $dark-blue solid 5px;
}

// @media (min-width: $desktop-breakpoint) {
//     .header {
//         margin-bottom: $xl-size;
//     }
// }